DOMAIN=

# MYRIAD
MYRIAD_ADMIN_SUBSTRATE_MNEMONIC=
MYRIAD_ADMIN_NEAR_MNEMONIC=

# JWT
JWT_TOKEN_SECRET_KEY=
JWT_TOKEN_EXPIRES_IN=
JWT_REFRESH_TOKEN_SECRET_KEY=
JWT_REFRESH_TOKEN_EXPIRES_IN=

# MONGO
MONGO_PROTOCOL=
MONGO_HOST=
MONGO_PORT=
MONGO_USER=
MONGO_PASSWORD=
MONGO_DATABASE=
MONGO_URL=

# REDIS
REDIS_CONNECTOR=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# SMTP
SMTP_SERVER=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SENDER_ADDRESS=

# FIREBASE
# Path to sevice account credential file, e.g /etc/gcp/sa_credentials.json
GOOGLE_APPLICATION_CREDENTIALS=
FIREBASE_STORAGE_BUCKET=

# SENTRY
SENTRY_DSN=

# TWITTER
TWITTER_API_KEY=

# COIN MARKET CAP
COIN_MARKET_CAP_API_KEY=

MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_ENDPOINT=
MINIO_BUCKET_NAME=
MINIO_PORT=
MINIO_URL=
